---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone*,
        -cert-err33-c,
        -cert-err58-cpp,
        -cppcoreguidelines*,
        -fuchsia-*,
        -google-*,
        -hicpp*,
        -llvm*,
        -modernize*,
        -misc*,
        -readability*,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none






